body {
	font-family: 'Roboto', sans-serif;
	background-color: #212124;
	margin: auto;
	font-size: 100%;
}

header h1 {
	background-color: orange;
	color: white;
	margin: auto;
	padding-left: 20px;
	padding-top: 1em;
}

header p {
	background-color: orange;
	color: white;
	margin: auto;
	padding-left: 20px;
	padding-bottom: 1em;
}

.container {
	background-color: #FCFCFC;
	width: 60%;
	margin: auto ;
	padding-bottom: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}