<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li><a href="/">Place Your Order</a></li>
            <li><a href="/orders">Orders</a></li>
        </ul>

        <h1><%= error.status %> <%= message %></h1>
        <p>We're sorry, something went wrong! Use the navigation menu above to navigate where you want to go.</p>

        <br>
        <pre><%= error.stack %></pre>
    </div>
</body>
</html>