<!DOCTYPE>
<html>
<head>
    <%- include('head.ejs') %>
    <title>Whoops! </title>
</head>

<body>
<%- include('banner.ejs') %>
<div class="container">  
    <div class="panel panel-info" >
        <div class="panel-heading"><h3 class="panel-title">Could you please redo your order?</h3></div>
        <div class="panel-body">
            <p>Unfortunately something went wrong.</p>
        </div>
    </div>
</div>
</body>
</html>