<!DOCTYPE>
<html>
<head>
    <title>Order confirmation</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <header>
        <h1>Kae's Pizza Place</h1>
        
    </header>

    <section class="container">
        <h2>Order confirmation</h2>

    </section>

</body>
</html>